@model WebParking2025.Models.Parking

@{
    ViewData["Title"] = "Parking Info";
    var name = Model.Name;
    var desc = Model.Description;
    var capacity = Model.MaxCapacity;
}

<h1>Parking info!!!</h1>

<div>Parking name:@name</div>
<div>Parking name:@desc</div>
<div>Parking name:@capacity</div>


