
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="text-center">
        <h4 class="text-dark mb-4">
            This spot is already reserved for the date you selected.<br />
            Please check availability.
        </h4>
